<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<div id="header">
				<a href="{{url_for('showCategories')}}"><h1 id="header-title">Catalog App</h1></a>
				{% if login_session['name'] == null%}
				<a id="header-login" href="{{ url_for('login') }}" >Login</a>
				{% else %}
				<form action="{{url_for('logout')}}" method="POST">
					<input id="header-login" type="submit" value="Logout">
				</form>
				{% endif %}
			</div>
		</header>
		<div style="clear: both;"></div>
		<section id="body">
			<div id="login-form">
				<form action="{{ url_for('register') }}" method="POST">
					<label class="login-label" for="name">Username:</label>
					<p class="login-text"><input class="item-name" type="text" name="name"></p>
					<br>

					<label class="login-label" for="password">Password:</label>
					<p class="login-text"><input class="item-name" type="password" name="password"></p>
					<br>

					<label class="login-label" for="cpassword">Confirm Password:</label>
					<p class="login-text"><input class="item-name" type="password" name="cpassword"></p>
					<br>

					<label class="login-label" for="email">Email:</label>
					<p class="login-text"><input class="item-name" type="email" name="email"></p>
					<br>

					<input class="submit" type="submit" name="submit" value="Register">
				</form>
			</div>
		</section>
		{% with messages = get_flashed_messages() %}
	      {% if messages %}
	      	<div id="red" class="flash">
	        {% for message in messages %}
	            {{ message }} <br>
	        {% endfor %}
	    	</div>
	        {% endif %}
	     {% endwith %}
	</body>
</html>